main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.battlefield button{
    /*background-color: rgba(0,0,0,0);*/
    width: 4vw;
    height: 4vw;
    display: inline-block;
    border: none;
}
.battlefield th {
    padding: 0;
}
.battlefield td{
    border: darkgray solid 1px;
}
.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel button{
    border: none;
    border-radius: 4px;
    background-color: darkgray;
    padding: 5px;
}
.ship-1{
    width: 8vw;
    height: 8vw;
    background-color: red;
}
.ship-2{
    width: 16vw;
    height: 8vw;
    background-color: red;
}
.ship-3{
    width: 24vw;
    height: 8vw;
    background-color: red;
}
.ship-4{
    width: 32vw;
    height: 8vw;
    background-color: red;
}
.ship-placed{
    background-color: gold;
}
.blunder{
    background-color: darkslategray;
}
.ship-shooted{
    background-color: pink;
}
.ship-killed{
    background-color: red;
}
@media (max-height: 100vw) {
    main{
        background-color: red;
    }
    .battlefield button{
        width: 8vh;
        height: 8vh;
    }
}